{% extends 'polls/base.html' %}

{% block content %}
<div style="margin-bottom: 50px; margin-top: 50px;" class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Login</h1>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="{% url 'social:begin' 'facebook' %}">Facebook</a></li>
				<li class="list-inline-item"><a href="{% url 'social:begin' 'twitter' %}">Twitter</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<div style="background-color: #ffffff; border: 1px solid green; border-radius: 5px; padding: 20px;">
				<h3 style="margin: 10px; text-align: center;">About</h3>
				{% load static %}
				<img style="margin:auto;" src="{% static 'img/pollit_logo.png' %}" width="100">
				<p>Pollit Nigeria conducts online opinion polls on relevant and critical national issues. Our goal is to ensure the voice of regular Nigerians gets heard. Our polls application allows you to both filter votes by respondents characteristics and also view the demography of respondents for every poll. The future of polling is online, and our methodology represents the best approach yet. </p>
			</div>
		</div>
	</div>
</div>
{% endblock %}