{% extends 'polls/base.html' %}

{% load bootstrap3 %}
{% load bootstrap %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %}{{ user }} Profile | {{ block.super }}{% endblock %}

{% block content %}
<div style="margin-bottom: 50px; margin-top: 50;" class="row">
		<div class="col-md-8" class="form-group">
			{% if messages %}
			{% bootstrap_javascript jquery=1 %}
			{% bootstrap_messages %}
			{% endif %}
			<form method="POST" action="{% url 'polls:create_profile' %}" class="form">
			{{ form|bootstrap }}
			{% csrf_token %}
			<input type="submit" value="Create" class="btn btn-success"> 
			</form>
		</div>
		<div class="col-md-4">
			<div style="background-color: #ffffff; border: 1px solid green; border-radius: 5px; padding: 20px;">
				<h3 style="margin: 10px; text-align: center;">About</h3>
				{% load static %}
				<img style="margin:auto;" src="{% static 'img/pollit_logo.png' %}" width="200">
				<p>Pollit Nigeria conducts online opinion polls on relevant and critical national issues. Our goal is to ensure the voice of regular Nigerians gets heard. Our polls application allows you to both filter votes by respondents characteristics and also view the demography of respondents for every poll. The future of polling is online, and our methodology represents the best approach yet. </p>
			</div>
		</div>
</div>
{% endblock %}