{% extends 'polls/base.html' %}

{% block content %}
<div style="margin-bottom: 100px; margin-top: 50px;" class="row">
	{% if not user.profile %}
	<p>You must <a href="{% url 'polls:create_profile' %}">create</a> a profile to vote</p>
	{% endif %}
</div>
<div style="margin-bottom: 50px; margin-top: 50px;" class="row">
	<div class="col-md-8">
		<h1 style="margin-bottom: 50px;">{{ poll.question }}</h1>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form action="{% url 'polls:vote' poll.id %}" method="post">
		{% csrf_token %}
		{% for choice in poll.choice_set.all %}
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		{% endfor %}
		<input style="margin-top: 50px; margin-bottom: 50px;" class="btn btn-outline-success btn-sm" type="submit" value="Vote" />
		</form>
	</div>
	<div class="col-md-4">
			<div style="background-color: #ffffff; border: 1px solid green; border-radius: 5px; padding: 20px;">
				<h3 style="margin: 10px; text-align: center;">About</h3>
				{% load static %}
				<img src="{% static 'img/pollit_logo.png' %}" width=100%; height=100%;>
				<p>Pollit Nigeria conducts online opinion polls on relevant and critical national issues. Our goal is to ensure the voice of regular Nigerians gets heard. Our polls application allows you to both filter votes by respondents characteristics and also view the demography of respondents for every poll. The future of polling is online, and our methodology represents the best approach yet. </p>
			</div>
		</div>
</div>
{% endblock %}